body {
  background-color: red;
}

.icon{
  margin-top: 20px;
  color: yellow;
}

.box {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  border: 5px solid yellow;
  width: 50%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
}

h1{
  color: white;
}
